
@{
    ViewBag.Title = "Login";
}

<form action="@Url.Action("Login","Account")" method="post">
    <label>
        Account
    </label>
    <input type="text" name="account" value="" />
    <label>
        Password
    </label>
    <input type="password" name="password" value="" />
    <button type="submit">Login</button>
</form>

<h2>@ViewBag.Accounttttt</h2>
<h2>@ViewBag.Passwordddd</h2>


